.SignIn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60%;
    width:25rem;
    background-color: aliceblue;
    border-radius: 10px;
}